
/* Скидання стилів */
@import url("reset.css");

.wrapper {
	min-width: 1600px;
	padding: 10px;
	min-height: 100%;
	background: url(../img/fon-car.jpg);


}

.wrapper h1 {
	color: rgba(77, 6, 6, 0.499);
	text-align: center;
	position: relative;
	position: fixed;
	left: 0;
	right: 0;
	padding: 20px;
	background-color: rgb(167, 7, 7);
	font-size: 40px;
	font-family: "Oi";
	outline: 1px solid transparent;
}

.wrapper h1:hover {
	color: rgba(29, 3, 3, 0.867);
	outline: 1px solid white;
	text-shadow: 1px 1px 3px rgb(0, 38, 255);

}

.car {
	/*background: url(../img/2.jpg) no-repeat;*/
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100vh;
	position: relative;

}

.car-container {
	position: relative;
	width: 900px;
	height: 250px;
	/*border: 1px solid black;*/
	top: 60%;
	left: 25px;

}



.triangle {
	position: absolute;
	right: -400px;
	top: 120px;
	width: 0px;
	height: 130px;
	margin: 10px 10px;
	background: linear-gradient(90deg, rgba(244, 245, 242, 1) 0%, rgba(217, 222, 192, 1) 5%, rgba(237, 245, 180, 1) 32%, rgba(242, 243, 83, 1) 53%, rgba(241, 240, 45, 1) 78%, rgba(235, 245, 17, 1) 91%);
	border-radius: 100% 30%;
	transform: rotate(180deg);
	z-index: 5;
	filter: blur(35px);

}

.car-container:hover .triangle {

	width: 400px;
	transition: all 0.3s ease 0s;
	z-index: 5;
}

.car-container:hover .triangle {
	opacity: 1;
}

.car-container:hover .windscreen {
	opacity: 1;
	transition: all 1s ease 0s;

}

.car-container:hover .front-window {
	transform: translateY(80px);
	transition: all 1s ease 0s;
}

.car-container:hover .back-window {
	transform: translateY(80px);
	transition: all 4.5s ease 0s;
}

.car-container:hover .rear-light {
	background-color: red;
	box-shadow: -12px 0px 42px 12px rgba(243, 56, 39, 0.7);
}

.car-container:hover .turn-signal {
	background-color: gold;
}

.car-container:hover .headlight {
	background-color: cornsilk;
}


.roof {
	position: absolute;
	left: 243px;
	top: 5px;
	width: 326px;
	height: 20px;
	background-color: blue;
	border-radius: 10px 10px 0 0;
	z-index: 15;
	border-bottom: 1px solid rgba(0, 0, 0, 0.535);
}

.rear-rack {
	position: absolute;
	z-index: 5;
	width: 61px;
	height: 110px;
	left: 216px;
	top: 10px;
	background-color: blue;
	transform: skew(-35deg);

}

.rear-rack-window {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 2px solid rgba(0, 0, 0, 0.535);
	top: 65px;
	left: 218px;
	z-index: 10;
	transform: skew(-35deg);
}

.ventilation {
	padding: 3px;

}

.ventilation span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: black;
	margin-top: 3px;

}

.ventilation span :last-child {
	margin-top: 0px;
}


.central-rack {
	position: absolute;
	z-index: 5;
	width: 10px;
	height: 106px;
	left: 420px;
	top: 12px;
	background-color: blue;


}

.front-rack {
	position: absolute;
	z-index: 3;
	width: 14px;
	height: 130px;
	right: 300px;
	top: 8px;
	background-color: blue;
	transform: rotate(-37deg);
	outline: 2px solid blue;
}

.windscreen {
	position: absolute;
	z-index: 1;
	width: 5px;
	height: 145px;
	right: 284px;
	top: 10px;
	background-color: rgba(251, 255, 0, 0.7);
	box-shadow: 4px 0px 62px 10px rgba(251, 255, 0, 0.7);
	transform: rotate(-37deg);
	border-radius: 0px 10px 10px 0px;
	opacity: 0;
	transition: all 1s ease 0s;


}

.back-door {
	z-index: 7;
	position: absolute;
	left: 239px;
	top: 115px;
	width: 182px;
	height: 128px;
	background-color: blue;
	border-radius: 5px 5px 0 80px;
	border: 1px solid rgba(0, 0, 0, 0.535);
	border-right: 1px solid black;


}


.front-door {
	position: absolute;
	left: 420px;
	top: 115px;
	width: 205px;
	height: 128px;
	background-color: blue;
	border-radius: 5px 5px 0 0;
	z-index: 7;
	border: 1px solid rgba(0, 0, 0, 0.535);
	border-left: 1px solid black;

}


.front-passenger img {
	position: absolute;
	left: 450px;
	top: 48px;
	width: 100px;
	height: 80px;
	z-index: 0;
	transform: scale(0.8);
}

.back-passenger img {
	position: absolute;
	left: 300px;
	top: 40px;
	width: 100px;
	height: 80px;
	z-index: 0;
}



.back-window {
	position: absolute;
	left: 230px;
	top: 17px;
	width: 190px;
	border-bottom: 100px solid rgba(0, 0, 5, 0.9);
	border-left: 80px solid transparent;
	border-right: 0px solid transparent;
	transition: all 2.5s ease 0s;
	z-index: 1;
}


.front-window {
	position: absolute;
	left: 430px;
	top: 17px;
	width: 192px;
	border-bottom: 100px solid rgba(0, 0, 5, 0.9);
	border-left: 0px solid transparent;
	border-right: 80px solid transparent;
	transition: all 0.5s ease 0s;
	z-index: 1;
}


.back-wing {
	position: absolute;
	left: 10px;
	top: 118px;
	width: 250px;
	height: 127px;
	background-color: blue;
	border-radius: 15px 5px 10px 15px;
	z-index: 1;
	transform: skew(15deg, 0);
	border: 1px solid rgba(0, 0, 0, 0.535);
}

.front-wing {
	position: absolute;
	right: 40px;
	top: 118px;
	width: 250px;
	height: 127px;
	background-color: blue;
	border-radius: 5px 10px 30px 5px;
	z-index: 1;
	transform: skew(-15deg);
	border: 1px solid rgba(0, 0, 0, 0.535);
}


.hood {
	position: absolute;
	left: -3px;
	top: 117px;
	width: 190px;
	height: 7px;
	background-color: blue;
	border-radius: 15px 5px 0 15px;
	z-index: 5;
	transform: skew(25deg, 0);
	border: 1px solid rgba(0, 0, 0, 0.535);
}

.molding {
	position: absolute;
	width: 850px;
	height: 1px;
	background-color: bisque;
	z-index: 86;
	top: 140px;
}

.trunk {
	position: absolute;
	right: 25px;
	top: 113px;
	width: 240px;
	height: 7px;
	background-color: blue;
	border-radius: 5px 5px 0 5px;
	z-index: 5;
	transform: skew(-25deg, 0);
	border: 1px solid rgba(0, 0, 0, 0.535);

}

.threshold {
	position: absolute;
	left: 250px;
	bottom: 2px;
	width: 400px;
	height: 30px;
	background-color: blue;
	border-radius: 0 0 30px 40px;
	z-index: 1;
}

.rear-wheel {
	position: relative;
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.823);
	bottom: -22px;
	left: 145px;
	border: 2px solid black;
	border: 1px solid rgba(102, 101, 101, 0.616);
	box-shadow: 5px 5px 8px rgba(102, 101, 101, 0.416), -5px -5px 8px rgba(102, 101, 101, 0.416);
}

.dick {
	position: absolute;
	top: 25px;
	left: 22px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 15;
	background-color: darkgrey;
	border: 1px solid rgba(0, 0, 0, 0.582);
}

.front-wheel {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.823);
	bottom: 2px;
	right: 90px;
	bottom: -22px;
	border: 1px solid rgba(102, 101, 101, 0.616);
	box-shadow: 5px 5px 8px rgba(102, 101, 101, 0.616), -5px -5px 8px rgba(40, 49, 81, 0.616);

}

.door-handle {
	position: absolute;
	background-color: black;
	z-index: 15;
	width: 25px;
	height: 10px;
	border-radius: 0px 0px 5px 5px;
	top: 10px;
	left: 5px;
}

.door-mirror {
	position: absolute;
	background-color: black;
	z-index: 15;
	width: 35px;
	height: 20px;
	border-radius: 5px 20px 5px 5px;
	top: -15px;
	right: 0px;
}

.headlight {
	position: absolute;
	width: 5px;
	height: 30px;
	background-color: rgb(202, 190, 16);
	right: -4px;
	top: 10px;
	border-radius: 5px 20px 5px 5px;
	transform: skew(2deg);
}

.rear-light {
	position: absolute;
	width: 5px;
	height: 20px;
	background-color: rgb(146, 49, 32);
	left: -143px;
	top: -18px;
	border-radius: 5px 20px 5px 5px;
	transform: skew(15deg);
}

.turn-signal {
	position: absolute;
	width: 8px;
	height: 5px;
	transform: skew(-15deg);
	background-color: rgb(204, 135, 8);
	z-index: 15;
	top: 16px;
	right: 17px;
	border-right: 1px solid bisque;
}

.fliper {
	position: absolute;
	top: 15px;
	left: 12px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	z-index: 10;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.582);
}

.exhaust-pipe {
	width: 25px;
	height: 5px;
	position: absolute;
	z-index: 0;
	background-color: #000000ce;
	left: -18px;
	bottom: 0px;
	border-radius: 50px 0px 0px 20px;

}

.rear-bumper {
	width: 25px;
	height: 8px;
	position: absolute;
	z-index: 0;
	background-color: bisque;
	left: -10px;
	bottom: 20px;
	border-radius: 50px 0px 0px 20px;
}

.front-bumper {
	width: 25px;
	height: 8px;
	position: absolute;
	z-index: 0;
	background-color: bisque;
	right: -10px;
	bottom: 20px;
	border-radius: 50px 0px 0px 20px;
}

.page {
	max-width: 1000px;
	margin: 0 auto 500px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 50px;
	padding-top: 100px;


}


.fon {
	width: 300px;
	height: 300px;
	background-color: rgb(67, 67, 225);
}


.item {
	color: aliceblue;
	font-size: 30px;
	padding-top: 120px;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	background-color: rgba(60, 176, 25, 0.711);
	width: 100%;
	height: 100%;

}


.translate-fon:hover .translate {
	transform: translate(30px, 30px);
}


.scale-fon:hover .scale {
	transform: scale(0.8);
}


.rotate-fon:hover .rotate {
	transform: rotate(90deg);
}


.skew-fon:hover .skew {
	transform: skew(-35deg);
}


.matrix-fon:hover .matrix {
	transform: translate(-30px, 30px) scale(0.8) rotate(-90deg) skew(-30deg);
}


.transform-origin-fon:hover .transform-origin-fon__item{
	transform: rotate(-90deg);
	transform-origin: 20px 70px;
}

.transform-3d {
	perspective-origin: bottom;
	perspective: 1000px;

}



.transform-3d:hover .transform-3d__item {
	transform: rotateX(70deg);

}

/*         */
.translate-3d-fon {
	perspective: 1000px;
	perspective-origin: bottom;
}

.translate-3d-fon:hover .translate-3d-fon__item-3d {
	transform: translate3d(20px, 20px, -200px);
}

.scale-3d-fon {
	perspective: 500px;
}

.scale-3d-fon:hover .scale-3d-fon__item-3d {
	transform: scale3D(0.5, 0.5, 0.5);
}

.rotate-3d-fon {
	perspective: 1000px;
	transform-style: preserve-3d;
	background-color: rgb(67, 67, 225);
}

.rotate-3d-fon:hover .rotate-3d-fon__item-3d {
	transform: rotate3d(0, 0.5, 0.4, 75deg);

}

.rotate-3d-fon:hover.rotate-3d-fon__fon {
	background-color: rgb(67, 67, 225);

}

.multi-3d-fon {
	perspective: 1000px;
	perspective-origin: right;
}

.multi-3d-fon:hover .multi-3d-fon__item-3d {
	transform: translate3d(30px, 30px, 50px) rotate3d(0.8, 0.5, 1, 70deg);
}

.flip__body {
	position: relative;
	width: 300px;
	height: 300px;
	perspective: 500px;
}

.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: all 0.8s;
}

.flip__front {
	background-color: rgba(60, 176, 25, 1);
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.flip__back {
	background-color: rgb(67, 67, 225);
	transform: rotateX(-180deg);
}

.flip__body:hover .flip__back {
	transform: rotateX(0deg);
}

.flip__body:hover .flip__front {
	transform: rotateX(180deg);
}