*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding-top: 80px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1250px;
  padding: 0px 15px;
  margin: 0 auto;
}

.business__title {
  color: #37393F;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.business__title::before {
  content: "";
  position: relative;
  width: 12px;
  height: 12px;
  background: #40DDB6;
  top: 3px;
  left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.business__title--big {
  color: #37393F;
  text-align: center;
  font-size: clamp(1.875rem, 1.648rem + 1.1173vw, 2.5rem);
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 40px;
}
.business__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 27px;
  padding-bottom: clamp(5rem, 3.3659rem + 8.0447vw, 9.5rem);
}
@media (max-width: 426.98px) {
  .business__items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.business__item {
  padding: 30px;
}

.item {
  background: #F4F4F4;
}
.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 400.98px) {
  .item__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 27px;
  max-width: 163px;
}
.item__title {
  color: #37393F;
  font-size: clamp(1.25rem, 1.75rem - 2.5vw, 1.5625rem);
  font-weight: 600;
  line-height: 1.27;
}
.item__link {
  color: #6B77E5;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .item__link:hover {
    color: #612388;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.item__img {
  -ms-flex-item-align: self-start;
      align-self: self-start;
  -o-object-fit: cover;
     object-fit: cover;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.service {
  background-color: #37393F;
  color: #FFF;
}
.service__container {
  padding-top: clamp(5rem, 3.4567rem + 7.5978vw, 9.25rem);
  padding-bottom: clamp(5rem, 3.4567rem + 7.5978vw, 9.25rem);
}
.service__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 1056.98px) {
  .service__title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.service__title-body {
  margin-bottom: clamp(2.1875rem, 1.7563rem + 2.1229vw, 3.375rem);
  max-width: 372px;
}
@media (max-width: 1056.98px) {
  .service__title-body {
    max-width: 100%;
  }
}
.service__title {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.service__title::before {
  content: "";
  position: relative;
  width: 12px;
  height: 12px;
  background: #40DDB6;
  top: 0;
  left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.service__title--big {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.21;
}
.service__title-text {
  max-width: 587px;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46; /* 26.314px */
}
@media (max-width: 1056.98px) {
  .service__title-text {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.service__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 29px;
}
.service__item {
  padding: 54px 56px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #636363;
}
@media (any-hover: hover) {
  .info:hover {
    background: #6B77E5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.info__img {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__title a {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 17px;
  text-align: center;
}
@media (any-hover: hover) {
  .info__title:hover {
    color: #575657;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.info__text {
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.46;
  font-weight: 400;
}

.solutions__container {
  padding-top: clamp(5rem, 3.4567rem + 7.5978vw, 9.25rem);
  padding-bottom: clamp(5rem, 3.4567rem + 7.5978vw, 9.25rem);
}
.solutions__title {
  color: #37393F;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin-bottom: 19px;
}
.solutions__title::before {
  content: "";
  position: relative;
  width: 12px;
  height: 12px;
  background: #40DDB6;
  top: 3px;
  left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.solutions__title--big {
  color: #37393F;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.21;
  margin-bottom: 19px;
}
.solutions__row {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
}
@media (max-width: 1219.98px) {
  .solutions__row {
    display: block;
    margin-bottom: 30px;
  }
}
.solutions__button {
  display: inline-block;
  padding: 22px 35px;
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background: #6B77E5;
}
@media (any-hover: hover) {
  .solutions__button:hover {
    background: #1a1e43;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 1219.98px) {
  .solutions__button {
    max-width: 184px;
    margin: 0 auto;
    display: block;
  }
}

.provide__text {
  max-width: 572px;
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  line-height: 1.46;
  margin-bottom: 47px;
  font-weight: 400;
}
.provide__list {
  margin-bottom: 47px;
  display: grid;
  grid-template-columns: repeat(2, minmax(252px, 1fr));
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
  row-gap: 30px;
}
@media (max-width: 620px) {
  .provide__list {
    grid-template-columns: 1fr;
  }
}
.provide__link {
  position: relative;
}
.provide__link a {
  margin-bottom: 20px;
  padding-left: 35px;
  min-height: 30px;
}
.provide__link::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background: url(../img/provide/ok.svg) no-repeat;
  top: -2px;
  left: 0;
}
.provide__fat {
  color: #37393F;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.provide__info-text {
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46;
}

#gold {
  color: #FFB342;
  font-family: "Poppins";
  font-size: 20px;
}

.diagram__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.diagram__item {
  padding: 32px 35px;
  background: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media (max-width: 420px) {
  .diagram__item {
    display: block;
    text-align: center;
  }
}
.diagram__img {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 420px) {
  .diagram__img {
    margin-bottom: 15px;
  }
}
.diagram__title {
  color: #37393F;
  font-family: "Inter";
  font-size: 19.651px;
  font-style: normal;
  line-height: 1.35;
  margin-bottom: 10px;
}
.diagram__title--big {
  color: #37393F;
  font-family: "Poppins";
  font-size: 22.107px;
  font-weight: 600;
  margin-bottom: 10px;
}
.diagram__text {
  color: #7D7D7D;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.46;
  font-weight: 400;
}

footer {
  max-width: 100px;
  margin: 0 auto;
}

.footet {
  font-size: 20px;
}