@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";


.wrapper{
	height: 100%;
}

.page{
	height: 100%;
	display: flex;
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 15px;
	width: 100%;
	align-items: center;
	img{
		display: block;
		object-fit: cover;
		object-position: center;
		aspect-ratio: 2 / 1.5;
		justify-self: center;
		align-items: center;
		width: 100%;
	}
}