@use "sass:math";

// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";

body {
	background: #FFF;
	color: #7D7D7D;
	font-family: "Inter", sans-serif;
	line-height: 1.2;

}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0px 15px;
}



.wrapper {}

.fixed {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 5;
	background-color: #FFF;
}

.header {
	background: #37393F;

	min-height: toRem(60);

	@media (max-width: toEm(1088)) {
		display: none;

	}
}

.header__container {

	display: flex;
	justify-content: space-between;
	column-gap: toRem(15);
	padding-top: toRem(22);
	padding-bottom: toRem(22);
	align-items: center;
	

 



}

.header-left {
	display: flex;
	column-gap: toRem(42);
	align-items: center;

}

.header-place {
	display: flex;
	column-gap: toRem(9);
	align-items: center;

	img {
		   width: 15px;
			height: 22px;
			object-fit: contain;
			overflow: hidden;
	}

	&:hover a {
		text-decoration: underline;
		text-decoration-color: rgb(202, 197, 197);
	}
}

.link {
	color: #FFF;
	font-family: "Inter";
	font-size: toRem(14);


}

.header-mail {
	display: flex;
	column-gap: toRem(11);

	img {
		width: 20px;
		height: 15px;
		object-fit: contain;
		overflow: hidden;
	}

	&:hover a {
		text-decoration: underline;
		text-decoration-color: rgb(202, 197, 197);
	}
}

.header-right {
	display: flex;
	column-gap: toRem(50);
}

.header-time {
	display: flex;
	column-gap: toRem(4);

	img {
		width: 14px;
		height: 14px;
		object-fit: contain;
		overflow: hidden;
		border-radius: 50%;
	}

	&:hover a {
		text-decoration: underline;
		text-decoration-color: rgb(202, 197, 197);
	}
}

.header-social {}

.social {
	display: flex;
	gap: toRem(16);

	img {
		width: 17px;
		height: 16px;
		object-fit: contain;
		overflow: hidden;
		transition: all 0.3s;
		border-radius: 50%;

		&:hover {
			transform: scale(1.2);


		}
	}
}

.sub-heder {
	// .sub-heder__container
      padding: 34px 0px;
	&__container {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(15);
		align-items: center;
		
		& button {
			width: 30px;
			display: block;
			flex: 0 0 30px;
			height: 18px;
			position: relative;
			z-index: 60;
	
			display: none;
			opacity: 0;
	
			&::before,
			&::after,
			span {
				content: "";
				height: 2px;
				width: 100%;
				position: absolute;
				left: 0;
				transition: all 0.3s;
				background-color: #000;
				z-index: 60;
			}
	
			&::before {
				top: 0;
			}
	
			&::after {
				bottom: 0;
			}
	
			span {
				top: 50%;
				margin-top: -1px;
			}
	
			@media (max-width: toEm(1088)) {
				display: block;
				opacity: 1;
			}
		}
	
		.open & span {
			transform: scale(0);
		}
	
		.open & ::before {
			transform: rotate(-45deg);
			top: 50%;
			margin-top: -1px;
		}
	
		.open & ::after {
			transform: rotate(45deg);
			bottom: 50%;
			margin-bottom: -1px;
		}
	
	}
}

.logo {
	display: flex;
	column-gap: toRem(4);
	align-items: center;
	flex-shrink: 0;
   

	h3 {
		color: #37393F;
		font-family: "Poppins";
		font-size: 25px;
		font-weight: 700;

		span {
			color: #6B77E5;

		}

		@media (max-width: toEm(500.98)) {
			display: none;
		}
	}

	img {
		width: 42px;
		height: 30px;
		object-fit: contain;
		overflow: hidden;
	}
   
	
}

.info {
	display: flex;
	flex-wrap: wrap;
	row-gap: 15px;
	column-gap: toRem(40);
	align-items: center;
	@media (max-width: toEm(1088)) {
		padding-top: toRem(50);
	}
	
	.open & {
		flex-direction: column;
		  	
		  row-gap: 20px;
		  
	  }
	@media (max-width: toEm(1088)) {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 0;
		left: -100%;
		transition: all 0.3s ease;
	} 
	.open & {
		left: 0;
		background-color: #fff;
		z-index: 2;
		transition: all 0.3s ease;
	}

	&__item {
		color: #37393F;
		text-align: center;
		font-size: toRem(18);

		&--arrow {
			color: #37393F;
			text-align: center;
			font-size: toRem(18);
			position: relative;

			&::after {
				content: "";
				background: url("../img/heder/sub-menu-arrow.svg") no-repeat;
				flex: 0 0 10px;
				top: 0px;
				right: 0px;
				width: 10px;
				height: 8px;
				transition: all 0.3s;
				.open &{
					display: none;
				}
			}

			@media (any-hover: hover) {
				.menu__item--parent:hover .sub-menu {
					opacity: 1;
					transform: translate(0px, 0%);
					visibility: visible;
					pointer-events: all;
					transition: all 0.3s;
				}

				&:hover.info__item--arrow::after {
					transform: rotate(-180deg);
					transition: all 0.3s;

				}
			}
		}

	}

	&__sub-menu {
		display: none;
		background-color: rgb(202, 197, 197);
		color: rgb(9, 9, 9);
		width: 100px;
		padding: 10px;
		border-radius: 10px;
		transform: translate(0px, 100%);
		opacity: 0;
		transition: all 0.3s;
		pointer-events: none;

		li:not(:last-child) {
			margin-bottom: 15px;

		}

		& li:hover {
			text-decoration: underline;
		}

	}

	@media (any-hover: hover) {
		&__item:hover a {
			text-decoration: underline;
		}
	}

	@media (any-hover: hover) {
		&__item--arrow:hover>a {
			text-decoration: underline;
		}
	}

	@media (any-hover: hover) {
		&__item--arrow:hover &__sub-menu {
			display: block;
			opacity: 1;
			position: absolute;
			top: 100%;
			pointer-events: all;

			transform: translate(0px, 0%);
			transition: all 0.3s;

			a:hover {
				text-decoration: underline;
			}
		}
	}



}
 
.sub-heder__link {
	color: #FFF;
	text-align: center;
	font-size: toRem(18);
	font-style: normal;
	font-weight: 600;
	text-transform: capitalize;
	background: #6B77E5;
	padding: toRem(22) toRem(35);
	white-space: nowrap;

	@media (any-hover: hover) {
		&:hover {
			background: #1928b2;
			transition: all 0.3s ease 0s;
		}
	}

	@media (max-width: toEm(767.98)) {
		font-size: toRem(14);
	}
}
.open body {
	overflow: hidden;

}

.page {
	padding-top: toRem(200);
	@media (max-width: toEm(1088)) {
		padding-top: toRem(132)
	}
}
.main {
		// .main__img
		&__img {
			display: grid;
			grid-template-columns: 1.5fr 2fr;
			
			
			img{
				width: 100%;
				grid-row: 1 / 2;
	         grid-column: 1 / 4;
				max-height: 800px;
				object-fit: cover;
			}
		}
		// .main__fon
		&__fon {
			display: grid;
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			background-color: rgba(55, 57, 63, 0.91);
			@media (max-width: toEm(1500)) {
				grid-column: 1 / 3;
			}
		}
}
.fon-img {
	     
		// .fon-img__body
		&__body {
			
			display: grid;
			align-self: center;
			padding-left: 14%;
			padding-right: 22%;
			@media (max-width: toEm(1500)) {
					padding: 15px;
				   justify-self: center;
			}
			@media (max-width: toEm(550)) {
				padding: 0 10px;
				padding-bottom: 20px;
			}
		}
		// .fon-img__taitle
		&__taitle {
			color: #FFF;
			font-family: "Inter";
			font-size: toRem(18);
			font-weight: 600;
			line-height: 1.46; /* 26.314px */
			margin-bottom: toRem(10);
			display: flex;
			column-gap: 7px;
			&::before {
				content: "";
				display: inline-block;
				position: relative;
				top: 0px;
				width: 12px;
				height: 12px;
				background: #40DDB6;
				flex: 0 0 12px;
				align-self: top;
				top: 7px;
				
				
				
			}
			
		}
		// .fon-img__info
		&__info {
			color: #FFF;
			font-family: "Poppins";
			font-size: toRem(60);
			font-style: normal;
			font-weight: 700;
			line-height: 1.10; /* 66px */
			margin-bottom: toRem(20) ;
			span{
				color: #40DDB6;
			}
			p{
				color: #B9B9B9;
				font-family: "Inter";
				font-size: toRem(18);
				font-style: normal;
				font-weight: 500;
				line-height: 1.46; /* 26.314px */
				
			}
			@media (max-width: toEm(1000)) {
				font-size: toRem(50);
		   }
			@media (max-width: toEm(550)) {
				font-size: toRem(30);
			}
		}
		&__link{
			margin-top: toRem(35);
         display: flex;
			gap: 30px;
			@media (max-width: toEm(550)) {
				flex-direction: column;
			}
		}
		// .fon-img__buttom
				&__buttom {
		
					color: #37393F;
					font-family: "Inter";
					font-size: toRem(18);
					font-weight: 600;
					text-transform: capitalize;
					background: #40DDB6;
				    padding: 21px 27px;
					 transition: all 0.3s;
					 @media (any-hover: hover) {
						&:hover {
							background: #10624e;
							color: #FFF;
						}
					}
					@media (max-width: toEm(550)) {
						text-align: center;
					}
				}

       &__link{
			display: flex;
			column-gap: 30px;

			@media (any-hover: hover) {
				img:hover {
				  transform: scale(1.1);
			  }
		  }
		 }


		// .fon-img__play
		&__play {
			display: flex;
			column-gap:10px;
			justify-content: center;
			
			img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				object-fit: cover;
				transition: all 0.3s;
				
			}
			h5{
				display: flex;
				align-self: center;
				color: #FFF;
				font-family: "Inter";
				font-size: roRem(18);
				font-weight: 600;
				line-height: normal;
				text-transform: capitalize;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
}


.about {
	// .about__fon
	&__fon {
		display: grid;
		grid-template-columns: 1.5fr 2fr;
		@media (max-width: toEm(1260)) {
			grid-template-columns: 1fr;
			
		}
	}
	// .about__container
	&__container {
		/*display: grid;
		grid-template-columns: 0.4fr 0.6fr;*/
		
		/*column-gap: toRem(70);*/
	}
}
.body-about {
	// .body-about__foto
	&__foto {
		display: grid;
		background: #F4F4F4;
		padding: toRem(150) toRem(70);
		@media (max-width: toEm(1260)) {
			justify-content: center;
			padding: toRem(15);
		}
		
		
	}
	// .body-about__img
	&__img {
		/*max-width: 400px;*/
			justify-self: flex-end;

		img{
			
			/*max-width: 400px ;*/
			width: 100%;
			max-height: 400px;
			object-fit: cover;
			object-position: center;
			margin-bottom: toRem(22);
			
			
		}
		
	}
	// .body-about__title
	&__title {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(30);
		font-weight: 600;
		line-height: 1.21; /* 36.3px */
		margin-bottom: toRem(15);
	}
	// .body-about__text
	&__text {
		color: #7D7D7D;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 400;
		line-height: 1.46; /* 26.314px */
		margin-bottom: toRem(15);
	}
	// .body-about__link
	&__link {
		color: #37393F;
		text-align: center;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .body-about__info
	&__info {
		background: #FFF;
		padding: toRem(150) toRem(70) ;
		display: grid;
		@media (max-width: toEm(1260)) {
			justify-content: center;
			padding: toRem(15)
		}
	}
}
.about-info {
	// .about-info__title
&__box{
	max-width:674px ;
	justify-content: flex-end;
	@media (max-width: toEm(1260)) {
		justify-content: center;
		max-width: 100%;
	}
}
	&__title {
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 500;
		display: flex;
		column-gap:6px;
		margin-bottom: toRem(21);
		
		&::before {
			content: "";
			display: inline-block;
			position: relative;
			width: 12px;
			height: 12px;
			background: #40DDB6;
			flex: 0 0 12px;
			top: 2.5px;
			
			
		}
		
	}
	h3{
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		margin-bottom: toRem(21);
		@media (max-width: toEm(400.98)) {
			font-size: toRem(30);
			
		}
	}
	// .about-info__text
	&__text {
		margin-bottom: toRem(21);
		p{
			color: #7D7D7D;
			font-family: "Inter";
			font-size: toRem(18);
			line-height: 1.46; /* 26.314px */
			&:not(:last-child){
				margin-bottom: toRem(15);
			}
		}
	}
	// .about-info__list
	&__list {
		&:not(:last-child){
			margin-bottom: toRem(35);
		}
	}
	// .about-info__link
	&__link {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(20);
		font-weight: 400;
		position: relative;
		padding-left: toRem(35);
		@media (any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 27px;
			height: 27px;
			background: url(../img/about/vector.svg) no-repeat;
			flex: 0 0 27px;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
			
			
			
		}
		&:not(:last-child){
			margin-bottom: toRem(23);
		}
		
	}
	// .about-info__achievements
	&__achievements {
	}
	&__more {
		color: #FFF;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		background: #6B77E5;
		padding: toRem(20) toRem(27);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background: #1928b2;
				transition: all 0.3s ease 0s;
			}
		}
		@media (max-width: toEm(768.98)) {
			width: 100%;
			text-align: center;
		}
	}
}
.achievements-info {
	margin-bottom: toRem(23);
	// .achievements-info__items
	&__items {
		display: grid;
		grid-template-columns: minmax(295px, 1fr)  minmax(295px, 1fr);
		gap:20px;
		@media (max-width: toEm(768.98)) {
			grid-template-columns: minmax(295px, 1fr)
			
		}
	}
	// .achievements-info__item
	&__item {
		border: 1px solid #E3E3E3;
		padding: toRem(32);
		display: flex;
		gap:19px ;
		@media (max-width: toEm(400.98)) {
			flex-direction: column;
			
		}
		img{
			align-self: flex-start;
			width: 40px;
			height: 40px;
			object-fit: contain;
			object-position: center;
			@media (max-width: toEm(400.98)) {
				align-self: center;
				
			}
		}
		h4{
			color: #37393F;
			font-family: "Poppins";
			font-size: toRem(20);
			font-weight: 600;
			margin-bottom: toRem(5);
         @media (max-width: toEm(400.98)) {
				text-align: center;
				
			}
		}
		p{
			color: #7D7D7D;
			font-family: "Inter";
			font-size: toRem(16);
			font-style: normal;
			line-height: 1.35; /* 21.63px */
			@media (max-width: toEm(400.98)) {
				text-align: center;
				
			}
		}
	}
	// .achievements-info__body
	
}

.brends {
	
	// .brends__container
	&__container {
		padding-bottom: toRem(82);
		padding-top: toRem(100);
	}
	// .brends__list
	&__list {
		padding: 0 toRem(40);
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: toRem(115);
		align-items: center;
		@media (max-width: toEm(1200)) {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 70px;
		}
		@media (max-width: toEm(768.98)) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 70px;
		}
		@media (max-width: toEm(550.98)) {
			grid-template-columns: repeat(1, 1fr);
			align-self: center;
			text-align: center;
			row-gap: 70px;
		}
		img{
			max-width: 170px;
			max-height: 100px;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
			transition: all 0.3s ease;
			@media (any-hover: hover) {
				&:hover{
					transform: scale(1.1);
				}
			}
			
		}
	}
	// .brends__link
	&__link {
	}
}

.professional {
	// .professional__container
	&__container {
		padding-bottom: clamp(5rem, 3.8444rem + 5.7778vw, 8.25rem);
	}
	// .professional__title
	&__title {
		display: flex;
		justify-content: center;
		column-gap: 6px;
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 500;
		&:not(:last-child){
			margin-bottom: toRem(16);
		}
				&::before {
			content: "";
			display: inline-block;
			position: relative;
			width: 12px;
			height: 12px;
			background: #40DDB6;
			flex: 0 0 12px;
			top: 2.5px;
			
			
		}
	}
	// .professional__info
	&__info {
		color: #37393F;
		text-align: center;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		text-align: center;
		@media (max-width: toEm(425.98)) {
			font-size: toRem(30);
		}
	}
	// .professional__items
	&__items {
		margin-top:toRem(40) ;
		display: grid;
		grid-template-columns: repeat(3,minmax(385px,1fr));
		column-gap: toRem(32);
		row-gap: toRem(27);
		@media (max-width: toEm(1260)) {
			grid-template-columns: repeat(2, 1fr);
			
		}
		@media (max-width: toEm(999.98)) {
			grid-template-columns: repeat(1, 1fr);
			
		}
		
	}
	// .professional__item
	&__item {
		background: #F4F4F4;
		padding: toRem(30);
	}
}
.item-card {
	display: flex;
	justify-content: space-between;
	column-gap: 15px;
	
	// .item-card__body
	&__body {
	}
	// .item-card__title
	&__title {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(25);
		font-weight: 600;
		line-height: 1.27; /* 31.75px */
		&:not(:last-child){
			margin-bottom: toRem(27);
		}
		@media (max-width: toEm(425.98)) {
			font-size: toRem(20);
		}
	}
	// .item-card__link
	&__link {
		color: #6B77E5;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		@media (any-hover: hover) {
			&:hover{
				text-decoration: underline;
			}
		}
	}
	img{
		align-self: flex-start;
		width: 72px;
		height: 72px;
		object-fit: cover;
		overflow: hidden;
		border-radius: 50%;
		
	}
	&--services{
		background: #6B77E5;
		display: flex;
			justify-content: center;
			align-items: center;
	 a{
		  	color: #FFF;
			font-family: "Inter";
			font-size: toRem(25);
			font-weight: 600;
			text-transform: capitalize;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.consulting {
	background-color: #37393F;
	color: #FFF;
	

	/*display: grid;
		grid-template-columns: 1.1fr 0.9fr;*/
	// .consulting__content
	&__content {
		
		
		
		
	}
	// .consulting__limitation
	&__limitation {
		max-width: 1250px;
	   margin: 0 auto;
	   display: grid;
		grid-template-columns: 1fr 1fr;
		gap:toRem(70);
		max-width: 100%;
		@media (max-width: toEm(1250.98)) {
			grid-template-columns: 1fr;
			gap:25px ;
			
		}
	}
	// .consulting__body
	&__body {
		max-width: 588px;
	   padding-top: clamp(3.125rem, 0.6842rem + 10.4142vw, 8.625rem);
		position: relative;
		 z-index: 1;
		 justify-self: flex-end;
		 align-self: center;
		 padding: 15px;
		 @media (max-width: toEm(1250.98)) {
			justify-self: flex-start;
			max-width: 100%;
			
			
		}
	}
	// .consulting__info
	&__info {
	}
	// .consulting__title--why
		&__title--why {
			font-family: "Inter";
			font-size: 18px;
			padding-left: 18px;
			font-weight: 500;
			position: relative;
			margin-bottom: 18px;
	
			&::after {
				content: "";
				position: absolute;
				top: 2px;
				left: 0;
				width: 12px;
				height: 12px;
				background: #40DDB6;
			}
		}
	// .consulting__title--we
	&__title--we {
		font-family: "Poppins";
		font-size: 30px;
		font-weight: 600;
		line-height: 1.21;
		margin-bottom: 18px;
	}
	// .consulting__text
	&__text {
		font-family: "Inter";
		font-size: 18px;
		line-height: 1.46;
		margin-bottom: 36px;
	}
	// .consulting__diagram
	&__diagram {
		display: flex;
		column-gap: 15px;
		margin-bottom: 36px;
	}
	// .consulting__wrapper-list
	&__wrapper-list {
		/*display: flex;
		flex-wrap: wrap;
		row-gap: 23px;
		position: relative; */
	}
	// .consulting__list
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap:36px;
		row-gap:22px;
		@media (max-width: toEm(600.98)) {
			grid-template-columns:  1fr;
			
			
		}
	}
	// .consulting__link
	&__link {
		
		font-family: "Poppins";
		font-size: 20px;
		font-weight: 700;
		padding-left:toRem(35);
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width:27px ;
			height: 27px;
			left: 0;
			top:0;
			background: url(../img/consulting/ok.svg) no-repeat;
			border-radius: 50%;
			object-fit: contain;
		}
				mark {
					color: #FFB342;
					font-family: "Poppins";
					font-size: 20px;
					background-color: #37393F;
					font-weight: 400;
				}
				span{
					font-weight: 400;
				}
	}
	#star{
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width:27px ;
			height: 27px;
			left: 14px;
			top:5px;
			background: url(../img/consulting/star.svg) no-repeat;
			border-radius: 50%;
			object-fit: contain;
		}
	}

	#stars{
		padding-left: 12px;
	}
	
	// .consulting__link--azure
	&__link--azure {
		color: #40DDB6;
		text-align: center;
		font-family: "Inter";
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		text-transform: capitalize;
		display: flex;
		align-self: flex-start;
		
		padding-top: 7px;
		  
	}
	// .consulting__img
	&__img {
		/* transform: translateX(50%);*/
		 position: relative;
		 z-index: 2;
		
		img{
			width: 100%;
	       /*aspect-ratio: 741 / 868;*/
			 max-height: 700px;
			 object-fit: cover;
		 }
	}
}
.diagram {
	@media (max-width: toEm(700.98)) {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		
		
	}
	// .diagram__item
	&__item {
		padding: 27px 30px;
		background-color: #2e2f34;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 12px;
		 img{
			width: 80px;
			height: 80px;
			flex: 0 0 80px;
			align-self: flex-start;
			overflow: hidden;
			border-radius: 50%;
		 }
	}
	// .diagram__label
	&__label {
	}
	// .diagram__title
	&__title {
		margin-bottom: 5px;
		color: #FFF;
		font-family: "Inter";
		font-size: 16px;
		line-height: 1.35;
	}
	// .diagram__subtitle
	&__subtitle {
		color: #FFF;
		font-family: "Poppins";
		font-size: 18px;
		font-weight: 600;
	}
}

.check-projects {
	// .check-projects__container
	&__container {
		padding-top: clamp(5rem, 3.8444rem + 5.7778vw, 8.25rem);
	}
	// .check-projects__row
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: toRem(16);
		align-items: center;
		@media (max-width: toEm(900.98)) {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			justify-content: center;
			align-items: center;
			
		}
	}
	// .check-projects__title
	&__title {
		color: #37393F;
		font-family: "Inter";
		font-size: torEM(18);
		font-weight: 500;
		display: flex;
		column-gap:6px;
		&:not(:last-child){
			margin-bottom: toRem(16);
		}
		@media (max-width: toEm(900.98)) {
			justify-content: center;
			
		}
		
		&::before{
			content: "";
			display: inline-block;
			width:12px;
			height:12px;
			position: relative;
			top: 2.5px;
			background: #40DDB6;
			flex: 0 0 12px
			
			
		}
	}
	// .check-projects__sub-title
	&__sub-title {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		@media (max-width: toEm(1070.98)) {
			font-size: toRem(35);
			
			
		}
		@media (max-width: toEm(900.98)) {
			font-size: toRem(25);
			text-align: center;
			
		}
	}

	&__buttom{
		display: flex;
		justify-content: flex-end;
		
	}
	// .check-projects__link
	&__link {
		color: #FFF;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		padding: toRem(22) toRem(45);
		background: #40DDB6;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				background: #228b71;
			}
		}
		
	}
	// .check-projects__foto
	&__foto {
		padding: 0 toRem(30);
	}
}
.info {
}
.foto-projects {
	// .foto-projects__items
	&__items {
		display: grid;
		gap:toRem(40);
		grid-template-columns:repeat(4,1fr);
		
		@media (max-width: toEm(1100.98)) {
			grid-template-columns:repeat(2,1fr);
			
			
		}
		@media (max-width: toEm(580.98)) {
			grid-template-columns:repeat(1,1fr);
			
			
		}
	}
	// .foto-projects__item
	&__item {
		display: inline-block;
		/*aspect-ratio: 430 / 500;*/
		overflow: hidden;
		
		
		img{
			
			width:100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: all 0.3s ease 0s;
         @media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
					transition: all 0.3s ease 0s;
				}
			}
		}
	}
}

.our-client {
	// .our-client__container
	&__container {
		padding-top:clamp(3.125rem, 0.9028rem + 11.1111vw, 9.375rem);
		padding-bottom: clamp(5rem, 0.6667rem + 21.6667vw, 17.1875rem);
	}
	// .our-client__items
	&__items {
		border-top: 2px solid #C5C5C5;
		padding-top: clamp(5rem, 3.6667rem + 6.6667vw, 8.75rem);
		display: grid;
		gap: 36px;
		grid-template-columns: repeat(3,minmax(410px,1fr));
		@media (max-width: toEm(1400.98)) {
			grid-template-columns: repeat(1,minmax(410px,1fr));
		}
		@media (max-width: toEm(1000.98)) {
			grid-template-columns: repeat(1,minmax(410px,1fr));
		}
		@media (max-width: toEm(500.98)) {
			grid-template-columns: repeat(1,minmax(280px,1fr));
		}
	}
	// .our-client__item
	&__item {
	}
}
.item-client {
	// .item-client__title
	&__title {
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 500;
		display: flex;
		column-gap:6px;
		&:not(:last-child){
			margin-bottom: toRem(16);
		}
				&::before{
			content: "";
			display: inline-block;
			width:12px;
			height:12px;
			position: relative;
			top: 2.5px;
			background: #40DDB6;
			flex: 0 0 12px
			
			
		}
	}
	&__row{
		display: flex;
		gap: 15px;
		@media (max-width: toEm(520.98)) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .item-client__sub-title
	&__sub-title {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		&:not(:last-child){
			margin-bottom: toRem(23);
		}
		@media (max-width: toEm(720.98)) {
			font-size: toRem(30);
		}
		@media (max-width: toEm(520.98)) {
			font-size: toRem(25);
		}
	}
	// .item-client__text
	&__text {
		color: #7D7D7D;
		font-family: "Inter";
		font-size: toRem(18);
		line-height: 1.46; /* 26.314px */
		font-style: italic;
		
	}
	// .item-client__foto
	&__foto {
	}
	// .item-client__info
	&__info {
		
	}
	&--gerl{
		background: #F6F6F6;
		padding: toRem(50) toRem(36);
		@media (max-width: toEm(520.98)) {
			padding: toRem(40) toRem(30);
			
		}
		img{
			width: 100px;
			height: 100px;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
			border-radius: 50%;
			flex-shrink: 0;
		}
		
	}
	
	// .item-client__title--gerl
	&__title--gerl {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(20);
		font-weight: 600;
		margin-bottom: toRem(2);
		
	}
	// .item-client__sub-title--gerl
	&__sub-title--gerl {
		color: #7D7D7D;
		font-family: "Inter";
		font-size: toRem(16);
		font-weight: 400;
		line-height: 1.35; /* 21.63px */
		margin-bottom: toRem(2);
	}
	// .item-client__rating-block
	&__rating-block {
	}
	// .item-client__text--gerl
	&__text--gerl {
		color: #7D7D7D;
      font-family: "Inter";
      font-size: 22px;
      font-style: italic;
       line-height: 1.46; /* 32.161px */
		 @media (max-width: toEm(520.98)) {
			font-size: toRem(18);
			white-space: wrap;
			
		}
	}
	&__rating-block{
		margin-bottom: toRem(45);
		@media (max-width: toEm(520.98)) {
			margin-bottom: toRem(25);
			
		}
	}
}


/*Звездный рейтинг*/
.item-client__rating-block {
	display: flex;
	flex-direction: row-reverse;
	gap: 3px;
	width: 120px;
	height: 25px;
	position: relative;
	
	
  }
  
  .product__sign{
	position: absolute;
	display: flex;
	right: -55px;
	top: 1px;
  }
  .product__sign span{
	margin-bottom: 3px;
	padding-left: 3px;
  }

  .item-client__rating-block input[type="radio"] {
	display: none;
  }
  .rating {
	display: flex;
	width: 22px;
	height: 22px;
	background: url(../img/our-client/star/off.svg.svg) no-repeat ;
	cursor: pointer;
	background-size: cover;
  }
  /*Пишем правила смены положения background-а*/
  .item-client__rating-block .rating:hover:hover, 
  .item-client__rating-block .rating:hover:hover ~ .rating,
  .item-client__rating-block input[type="radio"]:checked ~ .rating 
  {
	background: url(../img/our-client/star/on.svg.svg) no-repeat ;
	background-size: cover;
  }

  .get-business {
	background-color: #6B77E5;
	// .get-business__container
	&__container {
		padding-top:clamp(4.375rem, 3.2194rem + 5.7778vw, 7.625rem);
		padding-bottom:clamp(4.375rem, 3.2194rem + 5.7778vw, 7.625rem);
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: toRem(52);
		@media (max-width: toEm(1250.98)) {
			grid-template-columns: 1fr;
			row-gap:toRem(30) ;
		}
	}
}
.business {
	// .business__your
	&__your {
	}
	// .business__title
	&__title {
		color: #FFF;
		font-family: "Inter";
		font-size: toRem(18);
				font-weight: 500;
				display: flex;
		column-gap:6px;
		&:not(:last-child){
			margin-bottom: toRem(16);
		}
				&::before{
			content: "";
			display: inline-block;
			width:12px;
			height:12px;
			position: relative;
			top: 2.5px;
			background: #40DDB6;
			flex: 0 0 12px
			
			
		}
	}
	// .business__sub-title
	&__sub-title {
		color: #FFF;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		&:not(:last-child){
			margin-bottom: toRem(20);
		}
		@media (max-width: toEm(768.98)) {
			font-size: toRem(30);
		}
		@media (max-width: toEm(450.98)) {
			font-size: toRem(25);
		}
	}
	// .business__text
	&__text {
		color: #FFF;
		font-family: "Inter";
		font-size: 18px;
		line-height: 1.46; /* 26.314px */
		&:not(:last-child){
			margin-bottom: toRem(34);
		}
	}
	// .business__diagram
	&__diagram {
		background: #40DDB6;
		padding: toRem(35);
		display: flex;
		gap:23px ;
		&:not(:last-child){
			margin-bottom: toRem(50);
		}
		@media (max-width: toEm(450.98)) {
			flex-direction: column;
		}
	}
	// .business__list-items
	&__list-items {
		
	}
	// .business__item
	&__item {
		&:not(:last-child){
			margin-bottom: toRem(18);
		}
		padding-bottom: toRem(21);
		border-bottom:1px solid #FFF; 
		padding-left: toRem(43);
		position: relative;
		h4{
			color: #FFF;
        font-family: "Poppins";
        font-size: toRem(22);
        font-weight: 600;
		  min-height: 33px;
		  &:hover  {
			text-decoration: underline;
			text-decoration-color: rgb(202, 197, 197);
			
		}
		  
         &::before{
				content: "";
				position: absolute;
				width: 27px;
				height: 27px;
				background: url(../img/get-business/vector-ok.svg) no-repeat;
				top: 0;
				left: 0;
				border-radius: 50%;
			}
		}
		p{
			color: #FFF;
        font-family: "Inter";
		  font-size: toRem(18);
         line-height: 1.46; /* 26.314px */
		}
	}
	// .business__free
	&__free {
	}
}
.diagram-business {
	// .diagram-business__img
	align-items: center;
	&__img {
		aspect-ratio: 1 / 1 ;
		overflow: hidden;
		border-radius: 50%;
		img{
			width: 128px;
			height: 128px;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
		}
	}
	// .diagram-business__body
	&__body {
	}
	// .diagram-business__text
	&__text {
		color: #FFF;
		font-family: "Poppins";
		font-size: toRem(25);
		line-height: 1.27; /* 31.75px */
		max-width: toRem(366);
		span{
			font-weight: 700;
		}
		@media (max-width: toEm(450.98)) {
			font-size: toRem(20);
		}
	}
}
.free-business {
	// .free-business__title
	&__title {
		color: #FFF;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 500;
		display: flex;
		column-gap:6px;
		&:not(:last-child){
			margin-bottom: toRem(26);
		}
				&::before{
			content: "";
			display: inline-block;
			width:12px;
			height:12px;
			position: relative;
			top: 2.5px;
			background: #40DDB6;
			flex: 0 0 12px
			
			
		}
	}
	// .free-business__sub-title
	&__sub-title {
		color: #FFF;
		font-family: "Poppins";
		font-size: 40px;
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		&:not(:last-child){
			margin-bottom: toRem(26);
		}
		@media (max-width: toEm(768.98)) {
			font-size: toRem(30);
		}
		@media (max-width: toEm(450.98)) {
			font-size: toRem(25);
		}
	}
	// .free-business__form
	&__form {
		background: #FFF;
		padding: toRem(58);
		& > *:not(:last-child) {
			margin-bottom:toRem(30) ;
		}
		@media (max-width: toEm(768.98)) {
			padding: toRem(30);
			
		}
	}
	// .free-business__input
	&__input{
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		padding-left: toRem(33);
		border: 1px solid #DDD;
      background: #F8F8F8;
		height: toRem(65);
		width: 100%;
		@media (max-width: toEm(768.98)) {
			font-size: toRem(16);
			padding-left: toRem(20);
			width: 100%;
		}
		@media (max-width: toEm(400.98)) {
			font-size: toRem(14);
			padding-left: toRem(10);
			width: 100%;
		}
	}
	// .free-business__date-box
	&__date-box {
		display: grid;
		gap:toRem(23);
		grid-template-columns: 1fr 1fr;
		@media (max-width: toEm(768.98)) {
			grid-template-columns: 1fr ;
			width: 100%;
		}
	}
	textarea{
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		border: 1px solid #DDD;
      background: #F8F8F8;
		height: toRem(140);
		width: 100%;
		padding-left: toRem(33);
		padding-top: toRem(10);
		@media (max-width: toEm(768.98)) {
			font-size: toRem(16);
			padding-left: toRem(20);
			height: toRem(100);
		}
		@media (max-width: toEm(400.98)) {
			font-size: toRem(14);
			padding-left: toRem(10);
		}
	}
	// .free-business__btn
	&__btn {
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		background: #40DDB6;
		font-weight: 600;
		text-transform: capitalize;
		padding: toRem(22) toRem(60);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #1fa684;
				transition: all 0.3s ease 0s;
			}
		}
		
		@media (max-width: toEm(450.98)) {
			width: 100%;
		}
	}
}
.free-business__input-data{
	border: 1px solid #DDD;
      background: #F8F8F8;
	padding-left: toRem(33);
	padding-right: toRem(10);
	height: toRem(65);
}

.expert-team {
	// .expert-team__box
	&__box {
		display: grid;
		
	}
	// .expert-team__img
	&__img {
		grid-row: 1 / 1;
	   grid-column: 1 / 1;
		width: 100%;
		   max-height: 750px;
			object-fit: cover;
			
	}
	// .expert-team__link
	&__link {
		display: grid;
		grid-row: 1 / 1;
	   grid-column: 1 / 1;
		color: #FFF;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		background: rgba(55, 57, 63, 0.80);
      text-align: center;
	
		justify-self: center;
		align-self: center;
		padding: toRem(86) toRem(130);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				
			}
		}
		@media (max-width: toEm(768.98)) {
			font-size: toRem(30);
			padding: toRem(56) toRem(100);
		}
		@media (max-width: toEm(550.98)) {
			font-size: toRem(25);
			padding: toRem(36) toRem(50);
		}
		@media (max-width: toEm(400.98)) {
			font-size: toRem(22);
			padding: toRem(30) toRem(45);
		}
	}
}

.latest-posts {
	// .latest-posts__container
	&__container {
		padding-top: clamp(4.375rem, 1.4861rem + 14.4444vw, 12.5rem);;
	}
	// .latest-posts__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;
		&:not(:last-child){
			margin-bottom: toRem(40);
		}
		@media (max-width: toEm(550.98)) {
			flex-direction: column;
			row-gap: 20px;
		}
	}
	// .latest-posts__info
	&__info {
	}
	// .latest-posts__title
	&__title {
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 500;
			display: flex;
		column-gap:6px;
		&:not(:last-child){
			margin-bottom: toRem(16);
		}
				&::before{
			content: "";
			display: inline-block;
			width:12px;
			height:12px;
			position: relative;
			top: 2.5px;
			background: #40DDB6;
			flex: 0 0 12px
			
			
		}
	}
	// .latest-posts__sub-title
	&__sub-title {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(40);
		font-style: normal;
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		@media (max-width: toEm(650.98)) {
			font-size: toRem(30);
		}
	}
	// .latest-posts__link
	&__link {
		
		color: #FFF;
			font-family: "Inter";
			font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		text-align: center;
		background: #37393F;
		padding: toRem(20) toRem(42);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				
			}
		}
		@media (max-width: toEm(650.98)) {
			font-size: toRem(16);
		}
	}
	// .latest-posts__items
	&__items {
		display: grid;
		gap: 36px;
		grid-template-columns: 1fr 1fr;
		@media (max-width: toEm(1250.98)) {
			grid-template-columns: 1fr;
		}
	}
	// .latest-posts__item
	&__item {
		
	}
	// .latest-posts__img
	&__img {
		
		object-fit: cover;
		object-position: center;
		width: 586px;
		height:360px ;
		width:100%;
	}
	// .latest-posts__btn
	&__btn {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		&:not(:last-child){
			margin-bottom: toRem(20);
		}
		@media (max-width: toEm(650.98)) {
			grid-template-columns: auto auto;
		}
		@media (max-width: toEm(450.98)) {
			grid-template-columns: auto;
		}
	}
	// .latest-posts__link-btn
	&__link-btn {
		color: #FFF;
		text-align: center;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		padding: toRem(20) toRem(50);
		background: #6B77E5;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				
			}
		}
		@media (max-width: toEm(650.98)) {
			font-size: toRem(16);
		}
		@media (max-width: toEm(450.98)) {
			text-align: center;
		}
		&--svg{
			color: #208068;
			background-color: #40DD86;
			padding: toRem(20) toRem(50);
			border-right: 1px solid#208068;
			font-weight: 400;
			white-space: nowrap;
			position: relative;
			svg{
				padding-top: 2px;
			}
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
					
				}
			}
			@media (max-width: toEm(650.98)) {
				font-size: toRem(16);
			}
			@media (max-width: toEm(450.98)) {
				text-align: center;
				border: 1px solid#208068;
			}
		}
		
	}
	
	.latest-posts__btn .latest-posts__link-btn{
		font-size: toRem(18);
		white-space: nowrap;
	}

	// .latest-posts__button-title
	&__button-title {
		color: #37393F;
		font-family: "Poppins";
		font-size: toRem(30);
		font-weight: 600;
		line-height: 1.27; /* 38.1px */
		&:not(:last-child){
			margin-bottom: toRem(12);
		}
		@media (max-width: toEm(768.98)) {
			font-size: toRem(25);
		}
	}
	// .latest-posts__button-text
	&__button-text {
		color: #7D7D7D;
		font-family: "Inter";
		font-size: toRem(30);
		line-height: 1.46; /* 26.314px */
		&:not(:last-child){
			margin-bottom: toRem(26);
		}
		@media (max-width: toEm(768.98)) {
			font-size: toRem(20);
		}
	}
	// .latest-posts__button-link
	&__button-link {
		color: #6B77E5;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				color: #208068;
			}
		}
	}
}

	


.servise {
	  padding-top: clamp(3.125rem, 0.9028rem + 11.1111vw, 9.375rem);
		padding-bottom: clamp(4.375rem, 1.4861rem + 14.4444vw, 12.5rem);
	// .servise__container
	&__container {
		background: url(../img/servise/foto-01.png) no-repeat;
		object-fit: cover;
		object-position: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1220 / 520;
	}
	&__box{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: toRem(730);
		padding: 15px;

	}
	// .servise__title
	&__title {
		color: #37393F;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 500;
		display: flex;
		column-gap:6px;
		&:not(:last-child){
			margin-bottom: toRem(26);
		}
				&::before{
			content: "";
			display: inline-block;
			width:12px;
			height:12px;
			position: relative;
			top: 2.5px;
			background: #6B77E5;
			flex: 0 0 12px
			
			
		}
	}
	// .servise__sub-title
	&__sub-title {
		color: #37393F;
		text-align: center;
		font-family: "Poppins";
		font-size: toRem(40);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		span{
			color: #FFF;
		}
		&:not(:last-child){
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(768.98)) {
			font-size: toRem(30);
		}
		@media (max-width: toEm(425.98)) {
			font-size: toRem(25);
		}
	}
	// .servise__text
	&__text {
		color: #37393F;
		text-align: center;
		font-family: "Inter";
		font-size: toRem(18);
		line-height: 1.46; /* 26.314px */
		&:not(:last-child){
			margin-bottom: toRem(26);
		}
		@media (max-width: toEm(425.98)) {
			font-size: toRem(16);
		}
	}
	// .servise__link
	&__link {
		display: block;
		color: #FFF;
		text-align: center;
		font-family: "Inter";
		font-size: toRem(18);
		font-style: normal;
		font-weight: 600;
		text-transform: capitalize;
		background: #6B77E5;
		padding: toRem(20) toRem(42);
		@media (any-hover: hover) {
			&:hover {
				background: #2636c7;
			}
		}
	}
}


.footer {
	background-color: #37393F;

	// .footer__container
	&__container {
		padding-top: toRem(95);
		
	}

	// .footer__top-info
	&__top-info {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(15);
		align-items: center;
		margin-bottom: toRem(54);
		@media (max-width: toEm(1200)) {
			display: grid;
			row-gap: toRem(50);
			/*justify-content: center;*/
		}
	}

	// .footer__info-items
	&__info-items {
		
		img:hover  {
			transform: scale(1.1);
			transition: all 0.3s;
			
		}
	}
    
	// .footer__info-item
	&__info-item {
		img{
			width: 68px;
			height: 68px;
			border-radius: 50%;
			object-fit: cover;
			outline: 2px solid #37393F;
		}
	}

	
}
 
.logo .logo__text-footer {
	color: #FFF;

	span {
		color: #40DDB6;
	}
	
}

.link-footer {
	display: flex;
	column-gap: toRem(60);
	align-items: center;
	@media (max-width: toEm(1200)) {
		/*-display: grid;
		grid-template-columns: auto auto ;*/
		gap: toRem(50);
		display: flex;
		flex-wrap: wrap;

		
	}
	

	// .link-footer__item
	&__item {
		display: flex;
		column-gap: toRem(10);

	}

	// .link-footer__body
	&__body {
		display: flex;
		flex-direction: column;
		align-self: center;

		h4 {
			color: #FFF;
			font-family: "Poppins";
			font-size: toRem(20);
			font-weight: 600;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
			
		}
		@media (any-hover: hover) {
			&:hover h4 {
				text-decoration: underline;
				text-decoration-color: rgb(202, 197, 197);
				transition: all 0.3s;
			}
		}
		h5 {
			color: #FFF;
			font-size: toRem(18);
		}
	}
}
#logo-footer{
	display: block;
}

.footer {

	// .footer__nav-info
	&__nav-info {
		padding-bottom: toRem(95);
		@media (max-width: toEm(700)) {
			padding-bottom: toRem(50);
			
		}
	}
}

.footer-nav {

	// .footer-nav__container
	&__container {
		padding-top: toRem(50);
		padding-bottom: toRem(50);
		border-top: 1px solid #6c6d72;
		border-bottom: 1px solid #6c6d72;
		display: flex;
		
		justify-content: space-between;
		@media (max-width: toEm(1200)) {
			display: block;
			opacity: 1;
			
		}
	}

	// .footer-nav__colums
	&__colums {
		display: flex;
		column-gap: toRem(100);
		
		@media (max-width: toEm(700)) {
			display: grid;
			grid-template-columns: auto auto;
			row-gap: toRem(50);
			
		}
		@media (max-width: toEm(500)) {
			display: grid;
			grid-template-columns: auto;
			row-gap: toRem(35);
			justify-content: flex-start;
			
		}
	}

	// .footer-nav__colum
	&__colum {
		white-space: nowrap;

		h3 {
			color: #40DDB6;
			font-family: "Poppins";
			font-size: toRem(20);
			font-weight: 600;
			display: flex;
			column-gap: 5px;
			transition: all 0.3s;

			&:not(:last-child) {
				margin-bottom: toRem(13);
			}

			&::before {
				content: "";
				display: inline-block;
				position: relative;
				width: 13px;
				height: 13px;
				background: #6B77E5;
				flex: 0 0 13px;
				top: 3.5px;
				
			}
			&:hover::before  {
				transform: scale(1.2);
				transition: all 0.3s;
			}

		}
	}

	// .footer-nav__link
	&__link {
		color: #FFF;
		font-family: "Inter";
		font-size: 18px;
		font-weight: 400;
		line-height: 2.20;

		&:not(:last-child) {
			margin-bottom: toRem(15);
		}

		@media (any-hover: hover) {
			&:hover a {
				text-decoration: underline;
				text-decoration-color: rgb(202, 197, 197);
			}
		}
	}

	// .footer-nav__link--green
	&__link--green {
		color: #40DDB6;
		font-family: "Inter";
		font-size: 18px;
		font-weight: 400;
		line-height: 2.20;

		&:not(:last-child) {
			margin-bottom: toRem(15);
		}

		@media (any-hover: hover) {
			&:hover a {
				text-decoration: underline;
				text-decoration-color: rgb(202, 197, 197);
			}
		}
	}

	// .footer-nav__form
	&__form {}
}

.form-footer {

	// .form-footer__body
	&__body {
		padding: toRem(42) toRem(36);
		background: #474950;

		h3 {
			color: #FFF;
			font-family: "Poppins";
			font-size: toRem(20);
			font-weight: 600;

			&:not(:last-child) {
				margin-bottom: toRem(6);
			}
		}

		p {
			color: #FFF;
			font-family: "Inter";
			font-size: toRem(18);
			font-style: normal;
			line-height: 2.20;
			/* 39.634px */
		}

		input {

			color: #37393F;
			font-family: "Inter";
			font-size: toRem(18);
			background: #FFF;
			padding-left: toRem(27);
			min-height: toRem(65);
			@media (max-width: toEm(500)) {
				font-size: toRem(16);
				padding-left:  toRem(10);
				width: 100%;
			}
		}

	}

	&__input-row {
		display: flex;
		@media (max-width: toEm(500)) {
			display: block;
			max-width: toRem(265);
			
		}
	}

	&__subscribe {

		color: #FFF;
		font-family: "Inter";
		font-size: toRem(18);
		font-weight: 600;
		text-transform: capitalize;
		padding: toRem(22) toRem(27);
		background: #6B77E5;
		
		min-height: toRem(65);
		
		@media (max-width: toEm(500)) {
			font-size: toRem(16);
			padding: toRem(15) toRem(18);
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #1928b2;
				transition: all 0.3s ease 0s;
			}
		}
	}
}
.footer-nav__container{
	@media (max-width: toEm(1200)) {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
}


.footer {

	// .footer__copyright
	&__copyright {}
}

.copyright-info {

	// .copyright-info__container
	&__container {
		padding-top: toRem(22);
		display: flex;
		justify-content: space-between;
		column-gap: 15px;
		@media (max-width: toEm(1200)) {
			font-size: toRem(16);
			display: grid;
			grid-template-columns: auto;
			row-gap: 30px;
			justify-content: center;
			
		}

		h5 {
			color: #FFF;
			font-family: "Inter";
			font-size: toRem(22);
			line-height: 1.44;

			/* 26.014px */
			span {
				color: #40DDB6;
			}
			
			@media (max-width: toEm(500)) {
				font-size: toRem(18);
		  }



		}
	}

	// .copyright-info__img
	&__img {
		display: flex;
		column-gap: toRem(12);
		align-items: center;
		@media (max-width: toEm(1200)) {
			font-size: toRem(16);
			display: flex;
			justify-content: center;
			
		}

		h5 {
			padding-bottom: 6px;
		}
	}
}

.social {

	// .social__img
	&__img {}
}

#blue {
	color: #6B77E5;
}